html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#globe {
  cursor: move;  
}
#svg {
  position: absolute;
  color: lightblue;
  font-family: sans-serif;
  margin-left: 70%;
  margin-top: 4%;
}
#svg1 {
  position: absolute;
  color: lightblue;
  font-family: sans-serif;
  margin-left: 70%;
  margin-top: 25%;
}
#current {
  position: absolute;
  color: #130A6A;
  font-family: sans-serif;
  margin-left: 75%;
  margin-top: 4%;
}
#description {
  position: absolute;
  color: #130A6A;
  font-family: sans-serif;
  margin-left: 75%;
  margin-top: 1%;
}


.slidecontainer {
  align-content: center;
  width: 100%;
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 720px;
  position: absolute;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-circle {
  -webkit-appearance: none;
  appearance: none;
  background: #4CAF50;
  cursor: pointer;
}
